nav {
  font-size: 1rem;
  background: rgb(255, 255, 255);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 1rem;
  flex: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 65px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 21px;
}

.arrow {
  float: left;
  width: 35px;
  height: 24px;
  opacity: 1;
}

@media all and (max-width: 375px) and (min-width: 0px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    cursor: pointer;
    padding: 0rem;
    flex: auto;
    text-align: center;
    font-size: 18px;
    height: 35px;
    letter-spacing: 0px;
    color: #424242;
    margin-top: -28px;
  }
  .back-button-img {
    width: 25px;
    margin-top: 25px;
  }
}
