body {
  background-color: #ced2dc;
}

.botton-year {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

.button {
  background-color: #5689db;
  border: 1px solid #5689db;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  padding: 7px 28px;
  text-decoration: none;
  margin: 5px;
  transition: all 0.5s;
  max-width: 160px;
  min-width: 160px;
}

.hrr {
  margin: 135px 20px 10px 9px;
  width: 95%;
  border-width: 2px;
}

.tournament-text {
  margin-top: 40px;
  font-size: 20pt;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

button:hover {
  background-color: lightblue;
  font-size: 14pt;
}

.Board {
  margin: 40px 40px 40px 40px;
  display: flex;
  float: left;
  width: 50%;
}

.Slat {
  margin-top: 40px;
  margin-left: -4px;
  background: #84a4fc;
  border-radius: 30px;
  opacity: 1;
}

.Hole {
  padding: 5px;
  margin: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 30px;
  border: 0px solid rgb(24, 149, 190);
  background: rgb(255, 255, 255);

  border: 2px solid var(--unnamed-color-ffffff);
}

.Hole div {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;

  top: -400px;
  transition: transform 0.2s;
}

.Red {
  background-color: #ff456c;
  border-radius: 50%;
  transform: translateY(400px);
}
.image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Blue {
  background-color: #2cc5ff;
  border-radius: 50%;
  transform: translateY(400px);
}

.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.18, 0.99, 0.8, 1.17);
}

.appear {
  opacity: 1;
  font-size: 14pt;
}

.home-image {
  margin: -146px 0px 0px 248px;
  width: 70%;
}

.circle-right {
  width: 150px;
  height: 150px;
  margin: -220px 0px 0px 500px;
  border: 30px solid #e6ffe9;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
}
.circle-top {
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 0px;
  border: 30px solid #e6ffe9;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
}

.connect-four {
  margin-top: 2%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #3d4276;
  text-transform: uppercase;
  margin-left: -30%;
}
.connect-four-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #949494;
  opacity: 1;
  margin-left: -30%;
}

.playbutton {
  width: 100px;
  margin: -193px 0px 0px 85px;
  background: #ff7243;
  box-shadow: 10px 10px 50px #ee400773;
  border-radius: 15px;
  padding: 15px;
  border: 0px;
}

.playbutton-inner {
  justify-content: center;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.playbutton-image {
  margin-left: 14px;
  background: var(--unnamed-color-ffffff);
}

.play-text {
  text-align: center;
  font-size: 1rem;
  margin-left: 10px;
  letter-spacing: 5px;
  color: #424242;
}

.custom-game {
  margin: 10px 0px 0px 40px;
  width: 230px;
  height: 60px;
  background: #4babff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}
.two-players-game {
  margin: 20px 0px 0px 20px;
  width: 230px;
  height: 60px;
  background: #4b7bff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}

.online-game {
  margin: 20px 0px 0px 40px;
  width: 230px;
  height: 60px;
  background: #4b4bff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}

.training-game {
  margin: 20px 0px 0px 20px;
  width: 230px;
  height: 60px;
  background: #6e4bff;
  border-radius: 10px;
  border: 0px;
}

.custom-game-inner {
  color: var(--unnamed-color-ffffff);
  font: Medium 24px/35px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.custom-game-image {
  background-image: url("./img/user.png");
  background-position: left;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.custom-game-text {
  font-size: 18px;
  color: #ffffff;
  margin-left: -25px;
  margin-top: 10px;
}

.card {
  margin: auto;
  width: 600px;

  background-color: #ffffff;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 0px 3px 10px #00000029;
}

.card-2 {
  margin: auto;
  width: 600px;

  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}

.gamecard {
  display: grid;
  /* flex-direction: column;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center; */
  margin: 25px 0px 0px 310px;
  width: 47%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 15px;
  /* padding: 1%; */
}

.boardgame {
  margin: 150px 0px 80px -90px;
  width: 900px;
  height: 580px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  opacity: 1;
}

.item2 {
  grid-row: 2 / span 5;
  grid-column: 2 / span 2;
}

.item3 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  background: #dcf6e4 0% 0% no-repeat padding-box;
  border-style: none;
  text-align: left;
}
.item4 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}
.item5 {
  border-style: none;
  text-align: center;
}

.item6 {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}
.item7 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}

.playerLabel {
  margin: 124px 0px 0px -80px;
  font-size: 15px;
  font-family: fantasy;
}

.player1 {
  margin: 55px 0px 0px 62px;
  width: 75%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
  /* display: flex;
  align-items: center; */
}

.player2 {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.numbers-of-games {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.whostart {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.boardlabel {
  margin: 10px 0px 0px 30px;
  width: 30%;
  height: 60px;
  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
  display: grid;

  padding: 10px;
}

.player-image {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #37ac5d;
  border-radius: 60%;
  width: 58%;
  margin-left: 6px;
  margin-top: 7px;
  margin-bottom: 5px;
}

/* .player-imagee {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #F8D146;
  border-radius: 50%;
  width: 63px;
  height: 52px;
} */

.player-input {
  /* height: 30px;
  width: 150px;
  text-align: center; */
  font-size: 24px;
  font-family: fantasy;
  letter-spacing: 0px;
  background-color: transparent;
  opacity: 1;
  border-style: none;
}

.player-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #424242;
  opacity: 0.56;
  margin-top: 8px;
  margin-left: -20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.submit {
  margin: 15px 0px 10px 20px;
  width: 90%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #4b7bff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
}

.header {
  width: 100%;
  text-align: center;

  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
.bordButton {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
  width: 290px;
  height: 60px;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
  padding: 10px;
}

.undo {
  background: #4b7bff 0% 0% no-repeat padding-box;
}
.end {
  background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
  color: red;
}

hr {
  margin: 20px 20px 10px 0px;
  width: 290px;
  border-width: thin;
}
.inputHr {
  margin: -44px 0px 0px 299px;
  width: 120%;
  border-width: thin;
}
.modalhr {
  margin: 20px 10px 10px 40px;
  width: 320px;
  border-width: thin;
}

h1 {
  text-align: left;
}
.activeplayer {
  margin-top: -8px;
  width: 60px;
  height: 51px;
  border-radius: 50%;
  border-color: orange;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  margin-left: 60px;
  position: fixed;
  background: white;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* The container */
/* .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default radio button */
/* .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
} */

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  margin-left: -100px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
/* .container input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
/* .container input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the indicator (dot/circle) */
/* .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */

.input-box {
  margin-top: 05px;
  margin-left: 50px;
  width: 300px;
  height: 50px;
  background: #eff3ff 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
}

.radio-button {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

/* .containerour {
  padding: 2px 16px;
} */

.input-box-text {
  padding: 10px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
.ok-background {
  width: 180px;
  height: 60px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #4b7bff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
}
.cancel-background {
  width: 180px;
  height: 60px;
  margin: 10px 10px 10px 20px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #4b7bff26;
  border-radius: 20px;
  opacity: 1;
}

.text {
  height: 20px;
  text-align: center;
  font: Medium 36px/55px Poppins;
  font-size: 20px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

.back-button-img {
  width: 24px;
  margin-top: 15px;
}

.coming-soon-img {
  margin: 5% 25%;
}

.text-comming {
  font-family: Poppins, sans-serif;
  text-align: center;
}

/* Tablet */
@media (max-width: 768px) {
  .boardgame {
    margin: -50px 0px 0px -20px;
    width: 660px;
    height: 550px;
  }
  .gamecard {
    margin: -60px 0px 100px 100px;
  }
  .tournament-text {
    margin-top: 30px;
    font-size: x-large;
    font-variant-position: center;
  }
  .Slat {
    margin-top: 50px;
  }
  .Hole {
    padding: 0px;
    margin: 2px;
  }
  hr {
    width: 235px;
  }
  .bordButton {
    width: 235px;
    margin: 0px 0px 0px 0px;
  }
  .player-text {
    font-size: 12px;
  }
  .appear {
    font-size: 10pt;
  }

  .connect-four {
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3d4276;
    text-transform: uppercase;
    margin: -130px 0px 0px 0px;
  }
}

/* Mobile */

@media (max-width: 375px) {
  .card {
    margin: 100px 0px 0px 170px;
    width: 350px;
    height: 670px;
  }
  .home-image {
    margin: -93px 0px 0px 139px;
    width: 70%;
  }

  .custom-game {
    margin: 55px 0px 0px 32px;
    width: 288px;
    height: 60px;
  }

  .two-players-game {
    margin: 20px 0px 0px 31px;
    width: 288px;
    height: 60px;
  }

  .online-game {
    margin: 20px 0px 0px 31px;
    width: 288px;
    height: 60px;
  }

  .training-game {
    margin: 20px 0px 0px 31px;
    width: 288px;
    height: 60px;
  }

  .playbutton {
    width: 100px;
    margin: 147px 0px 0px 19px;
    height: 100px;
  }

  .connect-four {
    margin: 50px 0px 0px 200px;
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
  }

  .connect-four-text {
    margin: 50px 0px 0px 202px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 14px;
  }

  .gamecard {
    margin: 150px 0px 0px 170px;
    width: 350px;
    height: 570px;
  }

  .player1 {
    margin: 40px 10px -35px 53px;
    width: 65%;
    height: 62px;
  }

  .inputHr {
    margin: 0px 0px 0px 0px;
    width: 135px;
    border-width: thin;
  }

  .player-input {
    height: 20px;
    width: 110px;
    text-align: center;
    font-size: 15px;
  }

  .playerLabel {
    margin: 0px 0px 0px 26px;
    font-size: 14px;
  }

  .submit {
    margin: 25px 0px 10px 35px;
    width: 285px;
    height: 60px;
  }

  .back-button-img {
    width: 25px;
    margin-top: 10px;
  }

  .modal-main {
    margin-left: -4px;
    position: relative;
    background: white;
    width: 312px;
    height: 460px;
    margin-top: -92px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
  }

  .input-box {
    margin-top: 05px;
    margin-left: 40px;
    width: 230px;
    height: 50px;
    background: #eff3ff 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    border-radius: 15px;
    opacity: 1;
  }

  .modalhr {
    margin: 20px 10px 10px 32px;
    width: 250px;
    border-width: thin;
  }

  .ok-background {
    width: 125px;
    height: 50px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #4b7bff 0% 0% no-repeat padding-box;
    background-color: rgb(75, 123, 255);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70707026;
    border-radius: 20px;
    opacity: 1;
  }

  .cancel-background {
    width: 125px;
    height: 50px;
    margin: 10px 10px 10px 20px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4b7bff26;
    border-radius: 20px;
    opacity: 1;
  }

  .boardgame {
    margin: 150px 0px 0px 180px;
    width: 335px;
    height: 900px;
  }

  .tournament-text {
    margin-top: 449px;
    margin-left: 40px;
    font-size: x-large;
    font-feature-settings: center;
    font-variant-position: center;
  }

  .boardlabel {
    margin: 10px 0px 0px 30px;
    width: 77%;
    height: 60px;
    background: #dcf6e4 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    border-radius: 15px;
    opacity: 1;
    display: grid;
    padding: 10px;
  }

  .Slat {
    margin: 25px 0px 0px -15px;
  }

  .bordButton {
    width: 280px;
    margin: 0px 0px 0px 30px;
  }
  .Hole {
    padding: -3px;
    margin: 1px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(24, 149, 190);
    background: rgb(255, 255, 255);
  }

  .hrr {
    margin: 58px 20px 10px 39px;
    width: 290px;
    border-width: thin;
  }
  hr {
    margin: 20px 20px 10px 30px;
    width: 275px;
    border-width: thin;
  }
}
