body {
  background-color: #ced2dc;
}

.startbtn {
  border: none;
  background-color: #4b7bff;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 28px;
}

.carddd {
  background-color: #ffffff;
  margin: 0% 15%;
  padding: 4% 12%;
  margin-top: 4%;
  border-radius: 30px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f7f7f7;
}

.flex-container {
  display: flex;
}

.botton-year {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

.button {
  background-color: #5689db;
  border: 1px solid #5689db;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  padding: 7px 28px;
  text-decoration: none;
  margin: 5px;
  transition: all 0.5s;
  max-width: 160px;
  min-width: 160px;
}

.hrr {
  margin: 135px 20px 10px 9px;
  width: 95%;
  border-width: 2px;
}

.congratulations {
  font-size: 2rem;
  letter-spacing: 0px;
  color: #ff6600;
  opacity: 1;
}

.tournament-text {
  margin-top: 40px;
  font-size: 20pt;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}

/* button:hover {
  background-color: lightblue;
  font-size: 14pt;
} */

.Board {
  margin: 40px 40px 40px 40px;
  display: flex;
  float: left;
  width: 50%;
}

.Hole {
  padding: 5px;
  margin: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 30px;
  border: 0px solid rgb(24, 149, 190);
  background: rgb(255, 255, 255);

  border: 2px solid var(--unnamed-color-ffffff);
}

.Hole div {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;

  top: -400px;
  transition: transform 0.2s;
}

.Red {
  background-color: #ff456c;
  border-radius: 50%;
  transform: translateY(400px);
}
.image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.Blue {
  background-color: #2cc5ff;
  border-radius: 50%;
  transform: translateY(400px);
}

.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.18, 0.99, 0.8, 1.17);
}

.appear {
  opacity: 1;
  font-size: 14pt;
}

.home-image {
  margin: -146px 0px 0px 248px;
  width: 70%;
  position: absolute;
  z-index: 10;
}

.circle-right {
  width: 150px;
  height: 150px;
  margin: -219px 0px 0px 500px;
  border: 24px solid #e6ffe9;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
  position: absolute;
  float: left;
  top: 172px;
  left: -239px;
}
.circle-top {
  width: 150px;
  height: 150px;
  margin: 0px 0px 0px 0px;
  border: 24px solid #e6ffe9;
  border-radius: 50%;
  opacity: inherit;
  z-index: 1;
  position: absolute;
  float: right;
  right: -102px;
  top: 141px;
  left: 533px;
}

.connect-four {
  margin-top: 2%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #3d4276;
  text-transform: uppercase;
  margin-left: -30%;
}
.connect-four-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  color: #949494;
  opacity: 1;
  margin-left: -30%;
}

.playbutton {
  width: 100px;
  margin: -193px 0px 0px 85px;
  background: #ff7243;
  box-shadow: 10px 10px 50px #ee400773;
  border-radius: 15px;
  padding: 15px;
  border: 0px;
}

.playbutton-inner {
  justify-content: center;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.playbutton-image {
  width: 40px;
  height: 40px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  margin-left: 15px;
  opacity: 1;
}

.play-text {
  text-align: center;
  font-size: 1rem;
  margin-left: 11px;
  letter-spacing: 5px;
  color: #424242;
}

.custom-game {
  margin: 10px 0px 0px 40px;
  width: 230px;
  height: 60px;
  background: #4babff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}
.two-players-game {
  margin: 20px 0px 0px 20px;
  width: 230px;
  height: 60px;
  background: #4b7bff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}

.online-game {
  margin: 20px 0px 0px 40px;
  width: 230px;
  height: 60px;
  background: #4b4bff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  text-align: center;
  border: 0px;
}

.training-game {
  margin: 20px 0px 0px 20px;
  width: 230px;
  height: 60px;
  background: #6e4bff;
  border-radius: 10px;
  border: 0px;
}

.custom-game-inner {
  color: var(--unnamed-color-ffffff);
  font: Medium 24px/35px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.custom-game-image {
  background-image: url("./img/user.png");
  background-position: left;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.custom-game-text {
  font-size: 18px;
  color: #ffffff;
  margin-left: -25px;
  margin-top: 10px;
}

.card {
  margin: auto;
  width: 600px;

  background-color: #ffffff;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 0px 3px 10px #00000029;
}

.card-2 {
  margin: auto;
  width: 600px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding-bottom: 50px;
  background-color: #eeeeee;
}

/* .gamecard {
  display: grid;
  margin: 25px 0px 0px 310px;
  width: 47%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 15px;
} */

.boardgame {
  margin: 150px 0px 80px -90px;
  width: 900px;
  height: 580px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  opacity: 1;
}

.item2 {
  grid-row: 2 / span 5;
  grid-column: 2 / span 2;
}

.item3 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  background: #dcf6e4 0% 0% no-repeat padding-box;
  border-style: none;
  text-align: left;
}
.item4 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}
.item5 {
  border-style: none;
  text-align: center;
}

.item6 {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}
.item7 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  /* background: #DCF6E4 0% 0% no-repeat padding-box; */
  border-style: none;
  text-align: left;
}

.playerLabel {
  margin: 124px 0px 0px -80px;
  font-size: 15px;
  font-family: fantasy;
}

.player1 {
  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
}

.player2 {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.numbers-of-games {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.whostart {
  margin: 45px 0px -52px 2px;
  width: 95%;

  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 10px;
  display: grid;
}

.boardlabel {
  margin: 10px 0px 0px 30px;
  width: 30%;
  height: 60px;
  background: #dcf6e4 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
  display: grid;

  padding: 10px;
}

.boy-circle {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #37ac5d;
  border-radius: 60%;
}

.girl-circle {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #f8d146;
  border-radius: 60%;
}

.cup-circle {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #b1c4f9;
  border-radius: 60%;
}

.player-input {
  font-size: 24px;
  font-family: fantasy;
  letter-spacing: 1px;
  background-color: transparent;
  border-style: none;
}

.player-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #424242;
  opacity: 0.56;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.submit {
  margin: 15px 0px 10px 20px;
  width: 90%;
  height: 60px;
  color: white;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #4b7bff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
}

.header {
  width: 100%;
  text-align: center;

  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
.bordButton {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 60px;
  border: 1px solid #70707026;
  border-radius: 15px;
  opacity: 1;
  padding: 10px;
}

.undo {
  background: #4b7bff 0% 0% no-repeat padding-box;
}
.end {
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0px;
  color: #cc0000;
  opacity: 1;
}

hr {
  margin: 20px 20px 10px 0px;
  width: 290px;
  border-width: thin;
}
.inputHr {
  margin: -44px 0px 0px 299px;
  width: 120%;
  border-width: thin;
}
.modalhr {
  margin: 20px 10px 10px 40px;
  width: 320px;
  border-width: thin;
}

h1 {
  text-align: left;
}
.activeplayer {
  margin-top: -8px;
  width: 60px;
  height: 51px;
  border-radius: 50%;
  border-color: orange;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  position: absolute;
  background: #ffffff;
  height: 500px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f7f7f7;

  opacity: 1;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  margin-left: -100px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-box {
  margin-top: 30px;
  margin-left: 31px;
  width: 324px;
  height: 50px;
  background: #eff3ff 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
  border-radius: 15px;
}

.radio-button {
  margin-left: 15px;
}

.input-box-text {
  padding: 10px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
.ok-background {
  width: 180px;
  height: 60px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #4b7bff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #70707026;
  border-radius: 20px;
  opacity: 1;
}
.cancel-background {
  width: 180px;
  height: 60px;
  margin: 10px 10px 10px 20px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #4b7bff26;
  border-radius: 20px;
  opacity: 1;
}

.text {
  text-align: center;
  font-size: 25px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
  margin-top: 25px;
}

.coming-soon-img {
  margin: 5% 25%;
}

.text-comming {
  font-family: Poppins, sans-serif;
  text-align: center;
}

.line1 {
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6;
}

.player-image {
  background: rgb(234, 240, 236) 0% 0% no-repeat padding-box;
  border: 10px solid #37ac5d;
  border-radius: 60%;
  width: 40%;
  margin-left: 6px;
  margin-top: 7px;
  margin-bottom: 5px;
}

/*page 3 css latest*/
.boardcard {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  margin-top: 40px;
  margin: 40px 75px 0px 75px;
}
.game {
  display: flex;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #f7f7f7;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  min-height: 46vh;
  padding: 72px 32px;
}

.Slat {
  background: #84a4fc;
  border-radius: 50px;
  opacity: 1;
  width: 100%;
}

.gamecards {
  border: 1px solid #70707026;
  border-radius: 15px;
  margin-bottom: 10px;
}

.Hole {
  margin: 4px;
  border-radius: 50%;
  border: 1px solid rgb(24, 149, 190);
  background: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
}

.image {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50px;
}
.Hole div {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  top: -399px;
  transition: transform 0.2s;
}

.smallpad {
  padding: 25px 25px 0px 0px;
}

/* Tablet */

@media (max-width: 768px) {
  .boardcard {
    margin: 10px 0px;
  }
  .Hole {
    width: 45px;
    height: 45px;
  }

  .game {
    padding: 141px 14px;
  }
}

/* Mobile */

@media (max-width: 375px) {
  .smallpad {
    padding: 25px 10px 0px 10px;
  }

  /* .card {
    margin: 0px 0px 0px -8px;
    width: 360px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2%;

    box-shadow: 0px 3px 10px #00000029;
    height: 550px;
  } */
  .card-2 {
    margin: 0px 0px 0px -10px;
    width: 360px;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 2%;
    padding-top: 0%;
    box-shadow: 0px 3px 10px #00000029;
    height: 660px;
  }
  .home-image {
    margin: -78px 0px 0px 130px;
    width: 70%;
  }

  .circle-right {
    width: 100px;
    height: 100px;
    margin: -239px 0px 0px 374px;
    border: 18px solid #e6ffe9;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 1;
    position: absolute;
    float: left;
    top: 172px;
    left: -239px;
  }

  .circle-top {
    width: 100px;
    height: 100px;
    margin: -239px 0px 0px 374px;
    border: 18px solid #e6ffe9;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 1;
    position: absolute;
    float: left;
    top: 172px;
    left: -239px;
  }

  .custom-game {
    margin: -20px 0px 0px 32px;
    width: 288px;
    height: 60px;
  }

  .two-players-game {
    margin: 10px 0px 0px 31px;
    width: 288px;
  }

  .online-game {
    margin: 10px 0px 0px 31px;
    width: 288px;
    height: 60px;
  }

  .training-game {
    margin: 10px 0px 0px 31px;
    width: 288px;
    height: 60px;
  }

  .playbutton {
    margin: 52px 0px 210px 19px;
    padding: 14px;
  }

  .connect-four {
    text-align: left;
    font-family: sans-serif;
    font-size: 8px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .connect-four-text {
    margin: 0px 0px 0px 13px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 10px;
  }

  .gamecard {
    margin: 150px 0px 0px 170px;
    width: 350px;
    height: 570px;
  }

  .player1 {
    margin: 40px 10px -35px 53px;
    width: 65%;
    height: 62px;
  }

  .inputHr {
    margin: 0px 0px 0px 0px;
    width: 135px;
    border-width: thin;
  }

  .player-input {
    height: 20px;
    width: 110px;
    text-align: center;
    font-size: 15px;
  }

  .playerLabel {
    margin: 0px 0px 0px 26px;
    font-size: 14px;
  }

  .submit {
    margin: 25px 0px 10px 35px;
    width: 285px;
    height: 60px;
  }

  .back-button-img {
    width: 25px;
    margin-top: 10px;
  }

  .modal-main {
    margin-left: -4px;
    position: relative;
    background: white;
    width: 312px;
    height: 460px;
    margin-top: -92px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
  }

  .input-box {
    margin-top: 10px;
    margin-left: 33px;
    width: 230px;
    height: 50px;
    background: #eff3ff 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    border-radius: 15px;
    opacity: 1;
  }

  .modalhr {
    margin: 20px 10px 10px 32px;
    width: 250px;
    border-width: thin;
  }
  .bordButton {
    width: 100%;
  }

  .ok-background {
    width: 125px;
    height: 50px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #4b7bff 0% 0% no-repeat padding-box;
    background-color: rgb(75, 123, 255);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70707026;
    border-radius: 20px;
    opacity: 1;
  }

  .cancel-background {
    width: 125px;
    height: 50px;
    margin: 10px 10px 10px 20px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4b7bff26;
    border-radius: 20px;
    opacity: 1;
  }

  .boardgame {
    margin: 150px 0px 0px 180px;
    width: 335px;
    height: 900px;
  }

  .tournament-text {
    margin-top: 449px;
    margin-left: 40px;
    font-size: x-large;
    font-feature-settings: center;
    font-variant-position: center;
  }

  .boardlabel {
    margin: 10px 0px 0px 30px;
    width: 77%;
    height: 68px;
    background: #dcf6e4 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    border-radius: 15px;
    opacity: 1;
    display: grid;
    padding: 10px;
  }

  .boardcard {
    margin: 0px;
  }

  .Slat {
    margin: 0px 0px 0px 0px;
  }

  .bordButton {
    width: 100%;
    margin-bottom: 10px;
  }

  .Hole div {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    top: -400px;
    transition: transform 0.2s;
    min-width: 42px;
    min-height: 42px;
  }
  .Hole img {
    height: 38px;
    width: 38px;
    margin-left: 3px;
  }

  .hrr {
    margin: 58px 20px 10px 39px;
    width: 100%;
    border-width: thin;
  }

  .line1 {
    width: 100%;
    margin-top: -42%;
    margin-bottom: 10%;
  }

  .Board {
    padding: 0px 20px;
    margin: 0px;
    float: left;
    width: 100%;
  }
  .Hole {
    padding: -3px;
    margin: 1px;
    max-width: 45px;
    max-height: 45px;
    min-width: 0px;
    min-height: 0px;
    border-radius: 30px;
    border: 1px solid rgb(24, 149, 190);
    background: rgb(255, 255, 255);
  }
  .game {
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f7f7f7;
    border-radius: 30px;
    background-color: #ffffff;
    min-height: 0vh;
    padding: 30px 5px;
  }

  .carddd {
    background-color: #ffffff;
    margin: 0% 0%;
    padding: 2% 7%;
    margin-top: 4%;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f7f7f7;
  }
}
